<footer class="text-center">
    <p>
        &copy; @DateTime.Now.Year - Coursaty
    </p>
    <p>
        Designed &amp; Developed With ❤ by 
        <a href="#">Farouk Abdelhamid</a>
    </p>
</footer>
